{% extends 'base.html' %}
{% load static %}

{% block body %}


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6" style="">
      	<div class="row">
      		<div align="center" style="">
      			<img src="{% static 'logo/logo.png' %}" height="216">
      		</div>
      	</div>
      </div>

      <div class="col-md-6">
        <h1>Künye</h1>
        <p style="text-indent:15px">
          “Terim Bankası” projesi ile Mersin Üniversitesi Fen Edebiyat Fakültesi, Almanca Mütercim Tercümanlık, Çeviri Bölümü 4. Sınıf öğrencilerinin 2017 yılı“Bitirme Çalışması” dersi kapsamında; üniversite bünyesindeki tüm Çeviri Bölümü öğrencileri tarafından ve web sitesi üzerinden çevrimiçi hizmet verecek bu projenin ilgili kişilerce kullanılması, Almanca ve Türkçe dilleri arasındaki terimsel ve dilsel farklılıkların detaylıca incelenmesi, araştırılması ve günümüz yabancı dil öğretimine katkı sağlaması amaçlanmaktadır.</p>
      </div>

    </div>
  </div>
</div>



{% endblock  %}