{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
<link rel="stylesheet" href="{% static 'vendors/selectize/dist/css/selectize.css' %}">

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/selectize/dist/js/selectize.min.js' %}"></script>
<style type="text/css">
body {
	padding-top: 0px;
	padding-bottom: 40px;
	background-color: #eee;
}
</style>
<link rel="stylesheet" href="{% static 'css/form-style.css' %}">

<title>MEÜ-Çeviri Bölümü Terimler Sözlüğü - Almanca, Türkçe</title>
<script src="ckeditor/ckeditor.js"></script>
<link rel="stylesheet" href="{% static 'ckeditor/samples/toolbarconfigurator/lib/codemirror/neo.css' %}">
<link rel="stylesheet" href="{% static 'ckeditor/samples/css/samples.css' %}">
</head>


<nav class="navbar navbar-inverse demo-menu" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-demo-menu-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="/">Gekkoterm</a> </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-demo-menu-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">İşlemler<span class="caret"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
            <li><a href="/user/getWords">Kelimelerim</a></li>
			<li><a href="/user/addWord">Yeni Kelime Gir</a></li>
			
          </ul>
				</li>
		  <li>
				<a href="/about/">Proje hakkında</a>
			</li>
            <li><a href="/contact/">Bize Ulaşın</a></li>
			
				<li><a href="">Çıkış yap</a></li>
      </ul>
    </div>
  </div>
</nav>


{% block body %}
{% endblock  %}